#chat-container {
  height: 100%;

  app-sidebar {
    width: 100%;
    max-width: 380px;
    display: block;
    height: 100%;
    border-right: 1px solid #e8e8e8;
  }

  app-chat-area {
    flex-grow: 1;
  }

}
