<div class="is-flex is-justify-content-center is-align-items-center is-flex-direction-column" id="login">
  <h1 class="title is-3">WhatsApp Web Clone</h1>
  <p class="has-text-centered">
    It is a learning project. In this project, have created the clone of the WhatsApp Web interface
    and use Firebase as backend. In this, user can authenticate with Google to join the group and start messaging.
  </p>
  <i class="fab fa-whatsapp"></i>
  <button class="button is-info is-medium" (click)="login($event)">
    <span class="icon">
      <i class="fab fa-google"></i>
    </span>
    <span>Sign in with Google</span>
  </button>
</div>
