#login {
  height: 100%;

  h1 {
    color: #040404;
  }

  p {
    font-size: 15px;
    padding: 0 50px;
    margin: 0 auto 50px;
    color: #333333;
  }

  .fab.fa-whatsapp {
    font-size: 150px;
    color: #28C34B;
  }

  .button {
    margin-top: 50px;
    max-width: 280px;
    width: 100%;
    font-size: 18px;
  }

}
